        body { font-family: sans-serif; margin: 0; }
        nav { background: #f4f4f4; padding: 0 1rem; }
        nav ul { list-style: none; display: flex; gap: 1.5rem; margin: 0; padding: 1rem 0; }
        nav a { text-decoration: none; color: #333; font-weight: bold; }


        /*  ¡Esta es una clase dinamica de vue! */

        nav a.link-activo {
            color: red; 
            text-decoration: underline;
        }

        main { padding: 1rem 2rem; }

@media (min-width: 601px) {
          /* --- 2. REGLAS DE LAYOUT (igual que antes) --- */
          .gallery .gallery-item:nth-child(1) {
            grid-area: span 2 / span 2; 
          }

          .gallery .gallery-item:nth-child(4n + 1) {
            grid-row: span 2;
          }

          .gallery .gallery-item:nth-child(4n + 2) {
            grid-column: span 2; 
          }
        }